@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
	margin: 1rem;
	color: #333;
	font-family: Lato, Verdana, Arial, sans-serif;
  background-color: #ddd;
}

header {
	font-family: Lobster, cursive;
	/*font-weight: normal;*/
}

header h1,
header h2 {
  font-weight: normal;
  font-size: 3rem;
  margin: 8px 0;
  color: #600;
}
header h2 {
  font-size: 2rem;
}
article h2 {
  font-weight: 400;
  color: #600;
  border-bottom: 1px dotted #600;
}

.nav {
  list-style: none;
  padding: 0;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 12px;
}

.nav li {
  display: inline-block;
  margin-right: 10px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  display: block;
  background-color: #600;
  transition: background-color 0.5s cubic-bezier(0.94,-0.23, 0.29, 1.43);
}

.nav a:hover {
  color: #222;
  background-color: #f0dfb4;
}

aside {
  position: absolute;
  top: 200px;
  left: 10px;
  width: 180px;
  background-color: #f0dfb4;
  padding: 6px;
  border: 1px solid #600;
  box-shadow: 0px 0px 20px #999;
  font-size: 0.875rem;
}

aside ul {
  list-style: none;
  padding: 0;
}

article {
	margin: 0 20px 0 240px;
}

#wrapper {
	max-width: 840px;
	margin: 0 auto;
	border: 1px solid #999;
	position: relative;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 0px 20px #999;
}

@media print {
	* {
		display: none;
	}
}

@media all and (max-width: 800px) {
  body {
    margin: 0;
  }
  .nav {
    top: 0;
    left: 0;
    margin: 0;
    background-color: #600;
  }

  aside {
    position: static;
    float: left;
    margin-right: 20px;
  }

  article {
    margin-left: 20px;
  }
  
  blockquote {
    width: 100%;
    float: none;
    margin: 0;
  }
}


article img {
  float: left;
}

blockquote {
  float: right;
  width: 40%;
  font-size: 1.5rem;
}


.p-review .t-review a,
.p-cuisines .t-cuisine a {
  color: #600;
  background: #f0dfb4;
}


.popover {
  padding: 1rem;
  width: 300px;
  height: 225px;
  background: #fff;
  border: 1px solid #600;
  border-radius: 4px;
  position: fixed;
  top: calc(50% - 112px);
  left: calc(50% - 150px);
  display: none;
}

body.showme .popover {
  display: block;
}

.showme #wrapper {
  filter: blur(4px) grayscale(80%) opacity(50%);
}






















