@import url('http://fonts.googleapis.com/css?family=Lato:300,400,400i,700');


html {
	--bg-color: #f0dfb4;
	--badass: #bada55;
	--rust: #600;
	--radii: 3px;
}

body {
	margin: 0;
	color: #333;
	font-family: 'Lato', sans-serif;
	background-color: #ddd;
}

header {
	font-family: 'Crushed', cursive;
}

header h1,
header h2 {
	font-weight: normal;
}

h2 {
	font-weight: 700;
}

img {
	float: right;
}

blockquote {
	float: right;
	width: 40%;
	font-size: 24px;
}

.nav {
	list-style: none;
	padding: 0;
	position: absolute;
	right: 0;
	top: 20px;
	/*display: flex;*/
}

.nav li {
	display: inline-block;
	/*flex: 1;*/
	margin-right: 1em;
}

.nav a {
	color: #fff;
	text-decoration: none;
	padding: 6px;
	background: var(--rust);
	display: block;
	border-radius: 3px;
	transition: all 0.25s linear;
}

.nav a:hover {
	color: #222;
	background: #f9ecd1;
}

aside {
	position: absolute;
	top: 200px;
	left: 10px;
	width: 180px;
	background-color: #f0dfb4;
	padding: 6px;
	border: 2px solid #600;
	border-radius: 3px;
	box-shadow: 3px 3px 6px #666;
}
article {
	margin: 0 20px 0 240px;
}

#wrapper {
	max-width: 840px;
	border: 1px solid #999;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
	box-shadow: 0px 0px 20px #666;
}

header h1,
header h2 {
	color: #600;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 3rem;
	margin-bottom: 0;
}
header h2 {
	font-size: 32px;
	margin-top: 0;
}

aside th {
	text-align: right;
}

aside ul {
	list-style: none;
	margin: 1em;
	padding: 0;
}

.p-review .t-review a {
    color: #600;
    background: #f0dfb4;
 }


.popover {
	position: fixed;
	top: calc(50% - 112.5px);
	left: calc(50% - 150px);
	padding: 1rem;
	width: 300px;
	height: 225px;
	background: #fff;
	border: 2px solid var(--rust);
	border-radius: var(--radii);
	display: none;
	z-index: 102;
}



.closer {
	/*float: right;*/
	position: absolute;
	top: -6px;
	right: -6px;
	color: var(--rust);
	cursor: pointer;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	z-index: 101;
}

.showme {
	display: block !important;
}

@media print {
	* {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.nav {
		top: 0;
		left: 0;
		background-color: #600;
		margin: 0;
		position: fixed;
		z-index: 100;
	}
	header h1 {
		padding-top: 2rem;
	}
	aside {
		position: static;
		float: left;
		margin-right: 20px;
	}
	article {
		margin-left: 20px;
	}
}












