/* styles go here */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
}
.nav {
  background: #ffcb2d;
  margin: 0;
  padding: 0 0 0 46px;
  list-style: none;
  display: flex;
  width: 100%;
  padding: 1rem 0 0 46px;
  background-color: #ffcb2d;
  background-image: url(../img/nav_bg.gif);
  background-repeat: repeat-x;
  background-position: bottom left;
}
li {
  display: flex;
}
a {
  text-decoration: none;
  color: #888;
  padding: 4px 8px;
  border: 1px solid #9b8748;
  border-radius: 3px 3px 0 0;
  margin: 0 6px 0 0;

  background-color: #f9eaa9;
  background-image: linear-gradient(
  to bottom,
  rgba(255, 236, 165, 1) 0%,
  rgba(232, 213, 149, 1) 6%,
  rgba(253, 233, 162, 1) 94%,
  rgba(253, 233, 162, 1) 100%
  );
}

a:hover,
a.active {
  padding-bottom: 5px;
  color: #333;
  border-color: #9b8748;
  border-bottom: none;

  background-image: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 1) 0%,
  rgba(224, 226, 240, 1) 6%,
  rgba(254, 254, 254, 1) 53%
  );
}

@media (max-width: 768px) {
  li {
    flex-grow: 1;
  }
  a {
    flex-grow: 1;
  }
}

.content {
  padding: 1rem;
}

/* .nav .t-cuisines {
  order: 3;
} */



main,
article,
aside {
  /* margin: 12px; */
}

article,
aside {
  float: left;
}

main {
  padding: 12px;
  clear: both;
  border: 4px solid red;
  float: left;
  width: 100%;
}
article {
  border: 4px solid green;
  width: 60%;
}
aside {
  border: 4px solid blue;
  width: 40%;
}